.fondo1{
    background: #f4f8ff;
}
.col-grande{
    padding-top: 8rem;
    padding-bottom: 8rem;
}


@media (max-width:992px){
    .col-grande{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}