.fondo1{
    background: #f8f9fa;
}
.col-grande{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media (max-width:768px){
    .col-grande{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}