*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
   
}
body{
    background: salmon;
}
nav{
    padding-left: 40px;
}
.hm-gradient {
    background-image: linear-gradient(to top, #912436 0%, #6f8b06 99%, #0f3875 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.navbar a{
    color:#000;
}
.navbar-toggler-icon{
    background:#dbb406 !important;
}